<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wepinit.wepinit_shop.xmall.seller.oper.dao.SellerManagementMapper">

	<!-- 판매사정보관리등록 -->
	<insert id="insertGdSeller">
	
		insert into gd_seller
		set
			sellerCd = #{sellerCd}
		  ,	id = #{id}
		  ,	pwd = #{pwd}
<!-- 		  ,	status = #{status} -->
		  ,	status = 'R'
		  ,	sellerNm = #{sellerNm} 
		  ,	companyRegNo = #{companyRegNo}
		  ,	agentNm = #{agentNm}
		  ,	businessConditions = #{businessConditions}
		  ,	event = #{event}
		  ,	homepage = #{homepage}
		  ,	zipcode = #{zipcode}
		  ,	sellerAddr = #{sellerAddr}
		  ,	sellerAddrSub = #{sellerAddrSub}
		  ,	etc = #{etc}
		  ,	adminMemo = #{adminMemo}
		  ,	settlementCycle = #{settlementCycle}
	 	  ,	fees = #{fees}
	 	  ,	feeDiv = #{feeDiv}
<!-- 	 	  , flag = 'C' -->
<!-- 		  ,	regdt = SYSDATE() -->
<!-- 		  ,	reguser = #{reguser} -->
		  ,	moddt = SYSDATE()
		  ,	moduser = #{moduser}
	
	</insert>

	<!-- 판매사담당자정보관리 등록 -->
	<insert id="insertGdSellerMng">
	
		insert into gd_seller_mng
		set
		    sellerCd = #{sellerCd}
		  ,	managerNm = #{managerNm}
		  ,	managerPosition = #{managerPosition}
		  ,	managerTel = #{managerTel}
		  ,	managerHp = #{managerHp} 
		  ,	managerFax = #{managerFax}
		  ,	managerEmail = #{managerEmail}

	</insert>
	
	<!-- 판매사계좌정보 등록 -->
	<insert id="insertGdSellerAcc">
	
		insert into gd_seller_acc
		set
		    sellerCd = #{sellerCd}
		  ,	accNm = #{accNm}
		  ,	bankCd = #{bankCd}
		  ,	accNo = #{accNo}

	</insert>

	<!-- 아이디중복 체크 -->
	<select id="getDuplicationIdCount" resultType="int">
		select count(*)
		  from gd_seller
		 where id = #{id}
	</select>

	
	<!-- 판매자 상세정보 -->
	<select id="getSellerManagementView" resultType="com.wepinit.wepinit_shop.xmall.seller.oper.vo.SellerManagementVO">
	<!-- 아이디 업체명 담당자 전화번호 휴대폰 신청일 상세정보 -->
		select a.sellerCd
		     , a.id
		     , a.status
		 	 , a.sellerNm
		 	 , a.companyRegNo
		 	 , a.agentNm
		 	 , a.businessConditions
		 	 , a.event
		 	 , a.homepage
		 	 , a.zipcode
		 	 , a.sellerAddr
		 	 , a.sellerAddrSub
		 	 , a.etc
		 	 , a.adminMemo
		 	 , a.settlementCycle
		 	 , a.fees
		 	 , a.feeDiv
		 	 , a.flag
		 	 , b.managerNm
		 	 , b.managerPosition
		 	 , b.managerTel
			 , b.managerHp
			 , b.managerFax
			 , b.managerEmail
			 , b.managerEmail
			 , c.accNm
			 , c.bankCd
			 , c.accNo
	  	  from gd_seller     a
	 left join gd_seller_mng b
	 	    on a.sellerCd = b.sellerCd
	 left join gd_seller_acc c
			on a.sellerCd = c.sellerCd
	  	 where a.sellerCd = #{sellerCd}
	  	   and a.flag != 'D'
	</select>
	
	<select id="getGdSellerCount" resultType="int">
		select count(*)
		  from gd_seller
		 where sellerCd = #{sellerCd}
	</select>

	<select id="getGdSellerMngCount" resultType="int">
		select count(*)
		  from gd_seller_mng
		 where sellerCd = #{sellerCd}	
	</select>
	
	<select id="getGdSellerAccCount" resultType="int">
		select count(*)
		  from gd_seller_acc
		 where sellerCd = #{sellerCd}
	</select>
	
	<!-- 판매사정보관리수정 -->
	<update id="updateGdSeller">
	
		update gd_seller
		set
			status = #{status}
		  ,	sellerNm = #{sellerNm} 
		  ,	companyRegNo = #{companyRegNo}
		  ,	agentNm = #{agentNm}
		  ,	businessConditions = #{businessConditions}
		  ,	event = #{event}
		  ,	homepage = #{homepage}
		  ,	zipcode = #{zipcode}
		  ,	sellerAddr = #{sellerAddr}
		  ,	sellerAddrSub = #{sellerAddrSub}
		  ,	etc = #{etc}
		  ,	adminMemo = #{adminMemo}
		  ,	settlementCycle = #{settlementCycle}
	 	  ,	fees = #{fees}
	 	  ,	feeDiv = #{feeDiv}
		  ,	moddt = SYSDATE()
		  ,	moduser = #{moduser}
	  where sellerCd = #{sellerCd}
	
	</update>
	
	<!-- 판매사담당자정보관리 수정 -->
	<update id="updateGdSellerMng">
	
		update gd_seller_mng
		set
		    managerNm = #{managerNm}
		  ,	managerPosition = #{managerPosition}
		  ,	managerTel = #{managerTel}
		  ,	managerHp = #{managerHp} 
		  ,	managerFax = #{managerFax}
		  ,	managerEmail = #{managerEmail}
	  where sellerCd = #{sellerCd}

	</update>
	
	<!-- 판매사계좌정보 수정 -->
	<update id="updateGdSellerAcc">
	
		update gd_seller_acc
		set
		    accNm = #{accNm}
		  ,	bankCd = #{bankCd}
		  ,	accNo = #{accNo}
	  where sellerCd = #{sellerCd}

	</update>
	
	<!-- 비밀번호 초기화 -->
	<update id="updatePwd">
		update gd_seller
		   set pwd = #{pwd}
		     , moddt = SYSDATE()
		     , moduser = #{moduser}
		     , cntChgPwd = cntChgPwd + 1 
		 where sellerCd = #{sellerCd}
	</update>

</mapper>
