/*========== Web Font Styles ==========*/
body, h6, #sidebar .widget-heading h3, #header-search input, .header-items h3.phone-number, .related-wrap h4, #comments-list > h3, .item-heading h1, .sf-button, button, input[type="submit"], input[type="email"], input[type="reset"], input[type="button"], .spb_accordion_section h3, #header-login input, #mobile-navigation > div, .search-form input, input, button, select, textarea {font-family: "Helvetica", Arial, Helvetica, Tahoma, sans-serif;}
h1, h2, h3, h4, h5, .custom-caption p, span.dropcap1, span.dropcap2, span.dropcap3, span.dropcap4, .spb_call_text, .impact-text, .testimonial-text, .header-advert {font-family: "Helvetica", Arial, Helvetica, Tahoma, sans-serif;}
nav .menu li {font-family: "Helvetica", Arial, Helvetica, Tahoma, sans-serif;}
body, p, .masonry-items .blog-item .quote-excerpt, #commentform label, .contact-form label {font-size: 14px;line-height: 22px;}
h1, .spb_impact_text .spb_call_text, .impact-text {font-size: 24px;line-height: 34px;}
h2 {font-size: 20px;line-height: 30px;}
h3 {font-size: 18px;line-height: 24px;}
h4, .body-content.quote, #respond-wrap h3 {font-size: 16px;line-height: 20px;}
h5 {font-size: 14px;line-height: 18px;}
h6 {font-size: 12px;line-height: 16px;}
nav .menu li {font-size: 14px;}

/*========== Accent Styles ==========*/
::selection, ::-moz-selection {background-color: #1bbeb4; color: #fff;}
.recent-post figure, span.highlighted, span.dropcap4, .loved-item:hover .loved-count, .flickr-widget li, .portfolio-grid li, .wpcf7 input.wpcf7-submit[type="submit"], .woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li span.current, figcaption .product-added, .woocommerce .wc-new-badge, .yith-wcwl-wishlistexistsbrowse a, .yith-wcwl-wishlistaddedbrowse a, .woocommerce .widget_layered_nav ul li.chosen > *, .woocommerce .widget_layered_nav_filters ul li a {background-color: #1bbeb4!important; color: #ffffff;}
.sf-button.accent {background-color: #1bbeb4!important;}
a:hover, #sidebar a:hover, .pagination-wrap a:hover, .carousel-nav a:hover, .portfolio-pagination div:hover > i, #footer a:hover, #copyright a, .beam-me-up a:hover span, .portfolio-item .portfolio-item-permalink, .read-more-link, .blog-item .read-more, .blog-item-details a, .author-link, .comment-meta .edit-link a, .comment-meta .comment-reply a, #reply-title small a, ul.member-contact, ul.member-contact li a, #respond .form-submit input:hover, span.dropcap2, .spb_divider.go_to_top a, love-it-wrapper:hover .love-it, .love-it-wrapper:hover span, .love-it-wrapper .loved, .comments-likes a:hover i, .comments-likes .love-it-wrapper:hover a i, .comments-likes a:hover span, .love-it-wrapper:hover a i, .item-link:hover, #header-translation p a, #swift-slider .flex-caption-large h1 a:hover, .wooslider .slide-title a:hover, .caption-details-inner .details span > a, .caption-details-inner .chart span, .caption-details-inner .chart i, #swift-slider .flex-caption-large .chart i, #breadcrumbs a:hover, .ui-widget-content a:hover, .woocommerce form.cart button.single_add_to_cart_button:hover, .yith-wcwl-add-button a:hover, #product-img-slider li a.zoom:hover, .woocommerce .star-rating span, .mobile-search-link.active {color: #1bbeb4;}
.carousel-wrap > a:hover, .ajax-search-results .all-results:hover, .search-result h5 a:hover {color: #1bbeb4!important;}
.comments-likes a:hover span, .comments-likes a:hover i {color: #1bbeb4!important;}
.read-more i:before, .read-more em:before {color: #1bbeb4;}
.bypostauthor .comment-wrap .comment-avatar,.search-form input:focus,.wpcf7 input[type="text"]:focus,.wpcf7 textarea:focus {border-color: #1bbeb4!important;}
nav .menu ul li:first-child:after,.navigation a:hover > .nav-text {border-bottom-color: #1bbeb4;}
nav .menu ul ul li:first-child:after {border-right-color: #1bbeb4;}
.spb_impact_text .spb_button span {color: #fff;}
article.type-post #respond .form-submit input#submit {background-color: #252525;}
.woocommerce .free-badge {background-color: #252525; color: #f7f7f7;}

/*========== Main Styles ==========*/
body {color: #252525;}
.pagination-wrap a, .search-pagination a {color: #252525;}
body {background: #e4e4e4 url(http://3zjs2lkfq9q28isiu2mcqya19ig.wpengine.netdna-cdn.com/wp-content/uploads/2013/06/tiny_grid1.png) repeat center top fixed;}
body {background-size: auto;}
#main-container, .tm-toggle-button-wrap a {background-color: #ffffff;}
a, .ui-widget-content a {color: #666666;}
.pagination-wrap li span.current, .pagination-wrap li a:hover {color: #ffffff;background: #1bbeb4;border-color: #1bbeb4;}
.pagination-wrap li a, .pagination-wrap li span.expand {color: #252525;border-color: #e4e4e4;}
.pagination-wrap li a, .pagination-wrap li span {background-color: #ffffff;}
input[type="text"], input[type="password"], input[type="email"], textarea, select {border-color: #e4e4e4;background: #f7f7f7;}
textarea:focus, input:focus {border-color: #999!important;}
.modal-header {background: #f7f7f7;}

/*========== Header Styles ==========*/
#super-search .search-options .ss-dropdown > span, #super-search .search-options input {color: #1bbeb4; border-bottom-color: #1bbeb4;}
#super-search .search-options .ss-dropdown ul li.selected .icon-ok { color: #1bbeb4;}
#super-search-go:hover, #super-search-close:hover { background-color: #1bbeb4; border-color: #1bbeb4; color: #ffffff;}
#top-bar {background: #252525; color: #999999;}
#top-bar .tb-welcome {border-color: #444444;}
#top-bar a {color: #ffffff;}
#top-bar .menu li {border-left-color: #444444; border-right-color: #444444;}
#top-bar .menu > li > a, #top-bar .menu > li.parent:after {color: #ffffff;}
#top-bar .menu > li > a:hover, #top-bar a:hover {color: #07c1b6;}
#top-bar .show-menu {background-color: #444444;color: #252525;}
#header-languages .current-language {background: #252525; color: #ffffff;}
#header-section:before, #mini-header {background-color: #ffffff;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#ffffff));background: -webkit-linear-gradient(top, #ffffff, #ffffff);background: -moz-linear-gradient(top, #ffffff, #ffffff);background: -ms-linear-gradient(top, #ffffff, #ffffff);background: -o-linear-gradient(top, #ffffff, #ffffff);}
#logo img {padding-top: 10px;padding-bottom: 0px;}
#logo img, #logo img.retina {width: 209px;}
#header-section:before {opacity: 0.40;}
#header-section:before {opacity: 1;}
#header-section .header-menu .menu li, #mini-header .header-right nav .menu li {border-left-color: #e4e4e4;}
#header-section > #main-nav {border-top-color: #e4e4e4;}
#nav-section, #main-navigation {margin-top: 0px;}
.page-content {border-bottom-color: #e4e4e4;}

/*========== Navigation Styles ==========*/
#nav-pointer {background-color: #e4e4e4;}
.show-menu {background-color: #252525;color: #f7f7f7;}
nav .menu > li:before {background: #e4e4e4;}
nav .menu .sub-menu .parent > a:after {border-left-color: #e4e4e4;}
nav .menu ul.sub-menu {background-color: #ffffff;}
nav .menu ul.sub-menu li {border-bottom-color: #f0f0f0;border-bottom-style: solid;}
nav .menu > li a, #menubar-controls a {color: #252525;}
nav .menu > li:hover > a {color: #1bbeb4;}
nav .menu ul.sub-menu li > a, #top-bar nav .menu ul li > a {color: #666666;}
nav .menu ul.sub-menu li:hover > a {color: #1bbeb4!important; background: #252525;}
nav .menu li.parent > a:after, nav .menu li.parent > a:after:hover {color: #aaa;}
nav .menu li.current-menu-ancestor > a, nav .menu li.current-menu-item > a {color: #222222;}
nav .menu ul li.current-menu-ancestor > a, nav .menu ul li.current-menu-item > a {color: #ffffff; background: #252525;}
#main-nav .header-right ul.menu > li, .wishlist-item {border-left-color: #f0f0f0;}
#nav-search, #mini-search {background: #252525;}
#nav-search a, #mini-search a {color: #999999;}
.bag-header, .bag-product, .bag-empty, .wishlist-empty {border-color: #f0f0f0;}
.bag-buttons a {background-color: #f0f0f0; color: #252525;}
.bag-buttons a.checkout-button, .bag-buttons a.create-account-button, .woocommerce input.button.alt, .woocommerce .alt-button, .woocommerce button.button.alt {background: #252525; color: #f7f7f7;}
.bag-buttons a:hover, .woocommerce .button.update-cart-button:hover {background: #1bbeb4; color: #ffffff;}
.bag-buttons a.checkout-button:hover, .woocommerce input.button.alt:hover, .woocommerce .alt-button:hover, .woocommerce button.button.alt:hover {background: #1bbeb4; color: #ffffff;}
.shopping-bag:before, nav .menu ul.sub-menu li:first-child:before {border-bottom-color: #e4e4e4;}

/*========== Page Heading Styles ==========*/
#promo-bar {background-color: #ef3f32;}
#promo-bar * {color: #ffffff;}

/*========== Page Heading Styles ==========*/
.page-heading {background-color: #f7f7f7;border-bottom-color: #e4e4e4;}
.page-heading h1, .page-heading h3 {color: #222222;}
#breadcrumbs {background: #ffffff;}
#breadcrumbs {color: #999999;}
#breadcrumbs a, #breadcrumb i {color: #999999;}

/*========== Body Styles ==========*/
body, input[type="text"], input[type="password"], input[type="email"], textarea, select {color: #252525;}
h1, h1 a {color: #252525;}
h2, h2 a {color: #000000;}
h3, h3 a {color: #252525;}
h4, h4 a, .carousel-wrap > a {color: #252525;}
h5, h5 a {color: #252525;}
h6, h6 a {color: #252525;}
.spb_impact_text .spb_call_text, .impact-text {color: #252525;}
.read-more i, .read-more em {color: transparent;}

/*========== Content Styles ==========*/
.pb-border-bottom, .pb-border-top {border-color: #e4e4e4;}
#swift-slider ul.slides {background: #252525;}
#swift-slider .flex-caption .flex-caption-headline {background: #ffffff;}
#swift-slider .flex-caption .flex-caption-details .caption-details-inner {background: #ffffff; border-bottom: #e4e4e4}
#swift-slider .flex-caption-large, #swift-slider .flex-caption-large h1 a {color: #f7f7f7;}
#swift-slider .flex-caption h4 i {line-height: 20px;}
#swift-slider .flex-caption-large .comment-chart i {color: #f7f7f7;}
#swift-slider .flex-caption-large .loveit-chart span {color: #1bbeb4;}
#swift-slider .flex-caption-large a {color: #1bbeb4;}
#swift-slider .flex-caption .comment-chart i, #swift-slider .flex-caption .comment-chart span {color: #252525;}
figure .overlay {background-color: #1bbeb4;color: #fff;}
.overlay .thumb-info h4 {color: #fff;}
figure:hover .overlay {box-shadow: inset 0 0 0 500px #1bbeb4;}
h4.spb_heading span, h4.lined-heading span {background: #ffffff}
.spb_parallax_asset h4.spb_heading {border-bottom-color: #252525}
.carousel-wrap a.prev, .carousel-wrap a.next {background: #252525; color: #f7f7f7!important;}
.carousel-wrap a.prev:hover, .carousel-wrap a.next:hover {color: #1bbeb4!important;}

/*========== Sidebar Styles ==========*/
.sidebar .widget-heading h4 {color: #252525;}
.sidebar .widget-heading h4 span {background: #ffffff;}
.widget ul li {border-color: #e4e4e4;}
.widget_search form input {background: #f7f7f7;}
.widget .wp-tag-cloud li a {border-color: #e4e4e4;}
.widget .tagcloud a:hover, .widget ul.wp-tag-cloud li:hover > a {background: #1bbeb4; color: #ffffff;}
.loved-item .loved-count {color: #f7f7f7;background: #252525;}
.subscribers-list li > a.social-circle {color: #f7f7f7;background: #252525;}
.subscribers-list li:hover > a.social-circle {color: #fbfbfb;background: #1bbeb4;}
.sidebar .widget_categories ul > li a, .sidebar .widget_archive ul > li a, .sidebar .widget_nav_menu ul > li a, .sidebar .widget_meta ul > li a, .sidebar .widget_recent_entries ul > li, .widget_product_categories ul > li a, .widget_layered_nav ul > li a {color: #666666;}
.sidebar .widget_categories ul > li a:hover, .sidebar .widget_archive ul > li a:hover, .sidebar .widget_nav_menu ul > li a:hover, .widget_nav_menu ul > li.current-menu-item a, .sidebar .widget_meta ul > li a:hover, .sidebar .widget_recent_entries ul > li a:hover, .widget_product_categories ul > li a:hover, .widget_layered_nav ul > li a:hover {color: #1bbeb4;}
#calendar_wrap caption {border-bottom-color: #252525;}
.sidebar .widget_calendar tbody tr > td a {color: #f7f7f7;background-color: #252525;}
.sidebar .widget_calendar tbody tr > td a:hover {background-color: #1bbeb4;}
.sidebar .widget_calendar tfoot a {color: #252525;}
.sidebar .widget_calendar tfoot a:hover {color: #1bbeb4;}
.widget_calendar #calendar_wrap, .widget_calendar th, .widget_calendar tbody tr > td, .widget_calendar tbody tr > td.pad {border-color: #e4e4e4;}
.widget_sf_infocus_widget .infocus-item h5 a {color: #252525;}
.widget_sf_infocus_widget .infocus-item h5 a:hover {color: #1bbeb4;}
.sidebar .widget hr {border-color: #e4e4e4;}

/*========== Portfolio Styles ==========*/
.filter-wrap .select:after {background: #ffffff;}
.filter-wrap ul li a {color: #ffffff;}
.filter-wrap ul li a:hover {color: #1bbeb4;}
.filter-wrap ul li.selected a {color: #ffffff;background: #1bbeb4;}
.filter-slide-wrap {background-color: #222;}
.portfolio-item {border-bottom-color: #e4e4e4;}
.masonry-items .portfolio-item-details {border-color: #e4e4e4;background: #f7f7f7;}
.spb_portfolio_carousel_widget .portfolio-item {background: #ffffff;}
.spb_portfolio_carousel_widget .portfolio-item h4.portfolio-item-title a > i {line-height: 20px;}
.masonry-items .blog-item .blog-details-wrap:before {background-color: #f7f7f7;}
.masonry-items .portfolio-item figure {border-color: #e4e4e4;}
.portfolio-details-wrap span span {color: #666;}
.share-links > a:hover {color: #1bbeb4;}

/*========== Blog Styles ==========*/
.blog-aux-options li a, .blog-aux-options li form input {background: #f7f7f7;}
.blog-aux-options li.selected a {background: #1bbeb4;color: #ffffff;}
.blog-filter-wrap .aux-list li:hover {border-bottom-color: transparent;}
.blog-filter-wrap .aux-list li:hover a {color: #ffffff;background: #1bbeb4;}
.blog-item {border-color: #e4e4e4;}
.standard-post-details .standard-post-author {border-color: #e4e4e4;}
.masonry-items .blog-item {background: #f7f7f7;}
.mini-items .blog-item-details, .author-info-wrap, .related-wrap, .tags-link-wrap, .comment .comment-wrap, .share-links, .single-portfolio .share-links, .single .pagination-wrap {border-color: #e4e4e4;}
.related-wrap h4, #comments-list h4, #respond-wrap h3 {border-bottom-color: #252525;}
.related-item figure {background-color: #252525;}
.search-item-img .img-holder {background: #f7f7f7;border-color:#e4e4e4;}.required {color: #ee3c59;}
article.type-post #respond .form-submit input#submit {color: #fff;}
.comments-likes a i, .comments-likes a span, .comments-likes .love-it-wrapper a i {color: #252525;}
#respond .form-submit input:hover {color: #fff!important;}
.recent-post {background: #ffffff;}
.recent-post .post-item-details {border-top-color: #e4e4e4;color: #e4e4e4;}
.post-item-details span, .post-item-details a, .post-item-details .comments-likes a i, .post-item-details .comments-likes a span {color: #999;}

/*========== Shortcode Styles ==========*/
.sf-button.accent {color: #fff;}
a.sf-button:hover, #footer a.sf-button:hover {background-image: none;color: #fff!important;}
a.sf-button.green:hover, a.sf-button.lightgrey:hover, a.sf-button.limegreen:hover {color: #111!important;}
a.sf-button.white:hover {color: #1bbeb4!important;}
.wpcf7 input.wpcf7-submit[type="submit"] {color: #fff;}
.sf-icon {color: #1bbeb4;}
.sf-icon-cont {background-color: #222222;}
span.dropcap3 {background: #000;color: #fff;}
span.dropcap4 {color: #fff;}
.spb_divider, .spb_divider.go_to_top_icon1, .spb_divider.go_to_top_icon2, .testimonials > li, .jobs > li, .spb_impact_text, .tm-toggle-button-wrap, .tm-toggle-button-wrap a, .portfolio-details-wrap, .spb_divider.go_to_top a {border-color: #e4e4e4;}
.spb_divider.go_to_top_icon1 a, .spb_divider.go_to_top_icon2 a {background: #ffffff;}
.spb_tabs .ui-tabs .ui-tabs-panel, .spb_content_element .ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-nav li {border-color: #e4e4e4;}
.spb_accordion_section, .spb_tabs .ui-tabs .ui-tabs-panel, .spb_accordion .spb_accordion_section, .spb_accordion_section .ui-accordion-content, .spb_accordion .spb_accordion_section > h3.ui-state-active a, .ui-tabs .ui-tabs-nav li.ui-tabs-active a {background: #ffffff!important;}
.spb_tabs .nav-tabs li a {border-color: #e4e4e4;}
.spb_tabs .nav-tabs li.active a {border-bottom-color: transparent;}
.spb_tour .ui-tabs .ui-tabs-nav li a {border-color: #e4e4e4;}
.spb_tour.span3 .ui-tabs .ui-tabs-nav li {border-color: #e4e4e4!important;}
.ui-accordion h3.ui-accordion-header .ui-icon {color: #252525;}
.ui-accordion h3.ui-accordion-header.ui-state-active .ui-icon, .ui-accordion h3.ui-accordion-header.ui-state-active:hover .ui-icon {color: #1bbeb4;}
blockquote.pullquote {border-color: #e4e4e4;}
.borderframe img {border-color: #eeeeee;}
.labelled-pricing-table .column-highlight {background-color: #fff;}
.labelled-pricing-table .pricing-table-label-row, .labelled-pricing-table .pricing-table-row {background: #eeeeee;}
.labelled-pricing-table .alt-row {background: #f7f7f7;}
.labelled-pricing-table .pricing-table-price {background: #999999;}
.labelled-pricing-table .pricing-table-package {background: #bbbbbb;}
.labelled-pricing-table .lpt-button-wrap {background: #e4e4e4;}
.labelled-pricing-table .lpt-button-wrap a.accent {background: #222!important;}
.labelled-pricing-table .column-highlight .lpt-button-wrap {background: transparent!important;}
.labelled-pricing-table .column-highlight .lpt-button-wrap a.accent {background: #1bbeb4!important;}
.column-highlight .pricing-table-price {color: #fff;background: #1bbeb4;border-bottom-color: #1bbeb4;}
.column-highlight .pricing-table-package {background: #8dded9;}
.column-highlight .pricing-table-details {background: #baebe8;}
.spb_box_text.coloured .box-content-wrap {background: #1bbeb4;color: #fff;}
.spb_box_text.whitestroke .box-content-wrap {background-color: #fff;border-color: #e4e4e4;}
.client-item figure {border-color: #e4e4e4;}
.client-item figure:hover {border-color: #333;}
ul.member-contact li a:hover {color: #333;}
.testimonials.carousel-items li {border-color: #e4e4e4;}
.testimonials.carousel-items li:after {border-left-color: #e4e4e4;border-top-color: #e4e4e4;}
.team-member .team-member-bio {border-bottom-color: #e4e4e4;}
.horizontal-break {background-color: #e4e4e4;}
.progress .bar {background-color: #1bbeb4;}
.progress.standard .bar {background: #1bbeb4;}

/*========== Footer Styles ==========*/
#footer {background: #252525;}
#footer, #footer p {color: #ffffff;}
#footer h4 {color: #ffffff;}
#footer h4:before {border-color: #333333;}
#footer h4 span {background: #252525;}
#footer a {color: #ffffff;}
#footer .widget ul li, #footer .widget_categories ul, #footer .widget_archive ul, #footer .widget_nav_menu ul, #footer .widget_recent_comments ul, #footer .widget_meta ul, #footer .widget_recent_entries ul, #footer .widget_product_categories ul {border-color: #333333;}
#copyright {background-color: #000000;border-top-color: #333333;}
#copyright p {color: #666666;}
#copyright a {color: #ffffff;}
#copyright a:hover {color: #1bbeb4;}
#footer .widget_calendar #calendar_wrap, #footer .widget_calendar th, #footer .widget_calendar tbody tr > td, #footer .widget_calendar tbody tr > td.pad {border-color: #333333;}
.widget input[type="email"] {background: #f7f7f7; color: #999}
#footer .widget hr {border-color: #333333;}

/*========== WooCommerce Styles ==========*/
.woocommerce nav.woocommerce-pagination, .woocommerce #content nav.woocommerce-pagination, .woocommerce-page nav.woocommerce-pagination, .woocommerce-page #content nav.woocommerce-pagination, .modal-body .comment-form-rating, .woocommerce form .form-row input.input-text, ul.checkout-process, #billing .proceed, ul.my-account-nav > li, .woocommerce #payment, .woocommerce-checkout p.thank-you, .woocommerce .order_details, .woocommerce-page .order_details, .review-order-wrap { border-color: #e4e4e4 ;}
.woocommerce-account p.myaccount_address, .woocommerce-account .page-content h2, p.no-items, #payment_heading {border-bottom-color: #e4e4e4;}
.woocommerce .products ul, .woocommerce ul.products, .woocommerce-page .products ul, .woocommerce-page ul.products, p.no-items {border-top-color: #e4e4e4;}
.woocommerce-ordering .woo-select, .variations_form .woo-select, .add_review a, .woocommerce .quantity, .woocommerce-page .quantity, .woocommerce .coupon input.apply-coupon, .woocommerce table.shop_table tr td.product-remove .remove, .woocommerce .button.update-cart-button, .shipping-calculator-form .woo-select, .woocommerce .shipping-calculator-form .update-totals-button button, .woocommerce #billing_country_field .woo-select, .woocommerce #shipping_country_field .woo-select, .woocommerce #review_form #respond .form-submit input, .woocommerce form .form-row input.input-text, .woocommerce table.my_account_orders .order-actions .button, .woocommerce #payment div.payment_box, .woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce.widget .buttons a {background: #f7f7f7; color: #252525}
.woocommerce-page nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li span.current { color: #ffffff;}
li.product figcaption a.product-added {color: #ffffff;}
.woocommerce ul.products li.product figure figcaption .shop-actions > a, .woocommerce ul.products li.product figure figcaption .shop-actions > a.product-added:hover {color: #f7f7f7;}
.woocommerce ul.products li.product figure figcaption .shop-actions > a:hover {color: #1bbeb4;}
.woocommerce ul.products li.product figure figcaption, .yith-wcwl-add-to-wishlist, .woocommerce form.cart button.single_add_to_cart_button, .woocommerce p.cart a.single_add_to_cart_button, .yith-wcwl-add-button a, .woocommerce #account_details .login form p.form-row input[type="submit"], .my-account-login-wrap .login-wrap form.login p.form-row input[type="submit"], .woocommerce .my-account-login-wrap form input[type="submit"], .lost_reset_password p.form-row input[type="submit"], .track_order p.form-row input[type="submit"], .change_password_form p input[type="submit"], .woocommerce .wishlist_table tr td.product-add-to-cart a, .woocommerce input.button[name="save_address"], .woocommerce .woocommerce-message a.button, ul.products li.product a.quick-view-button, #login-form .modal-body form.login p.form-row input[type="submit"] { background: #252525; color: #f7f7f7 ;}
.woocommerce p.cart a.single_add_to_cart_button:hover {background: #252525; color: #1bbeb4 ;}
.woocommerce table.shop_table tr td.product-remove .remove:hover, .woocommerce .coupon input.apply-coupon:hover, .woocommerce .shipping-calculator-form .update-totals-button button:hover, .woocommerce .quantity .plus:hover, .woocommerce .quantity .minus:hover, .add_review a:hover, .woocommerce #review_form #respond .form-submit input:hover, .lost_reset_password p.form-row input[type="submit"]:hover, .track_order p.form-row input[type="submit"]:hover, .change_password_form p input[type="submit"]:hover, .woocommerce table.my_account_orders .order-actions .button:hover, .woocommerce .widget_price_filter .price_slider_amount .button:hover, .woocommerce.widget .buttons a:hover, .woocommerce .wishlist_table tr td.product-add-to-cart a:hover, .woocommerce input.button[name="save_address"]:hover, #login-form .modal-body form.login p.form-row input[type="submit"]:hover {background: #1bbeb4; color: #ffffff;}
.woocommerce #account_details .login, .woocommerce #account_details .login h4.lined-heading span, .my-account-login-wrap .login-wrap, .my-account-login-wrap .login-wrap h4.lined-heading span, .woocommerce div.product form.cart table div.quantity {background: #f7f7f7;}
.woocommerce .help-bar ul li a:hover, .woocommerce .continue-shopping:hover, .woocommerce .address .edit-address:hover, .my_account_orders td.order-number a:hover, .product_meta a.inline:hover { border-bottom-color: #1bbeb4;}
.woocommerce .order-info, .woocommerce .order-info mark {background: #1bbeb4; color: #ffffff;}
.woocommerce #payment div.payment_box:after {border-bottom-color: #f7f7f7;}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {background: #e4e4e4;}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {background: #f7f7f7;}
.yith-wcwl-wishlistexistsbrowse a:hover, .yith-wcwl-wishlistaddedbrowse a:hover {color: #ffffff;}
.woocommerce ul.products li.product .price, .woocommerce div.product p.price {color: #252525;}

/*========== Asset Background Styles ==========*/
.alt-bg {border-color: #e4e4e4;}
.alt-bg.alt-one {background-color: #FFFFFF;}
.alt-bg.alt-one {background-image: url(http://3zjs2lkfq9q28isiu2mcqya19ig.wpengine.netdna-cdn.com/wp-content/uploads/2013/06/ff_rp_bkg2.png); background-repeat: repeat; background-position: center top; background-size:auto;}
.alt-bg.alt-one, .alt-bg.alt-one h1, .alt-bg.alt-one h2, .alt-bg.alt-one h3, .alt-bg.alt-one h3, .alt-bg.alt-one h4, .alt-bg.alt-one h5, .alt-bg.alt-one h6, .alt-one .carousel-wrap > a {color: #222222;}
.alt-one.full-width-text:after {border-top-color:#FFFFFF;}
.alt-one h4.spb_text_heading, .alt-one h4.spb_heading {border-bottom-color:#222222;}
.alt-bg.alt-two {background-color: #f7f7f7;}
.alt-bg.alt-two, .alt-bg.alt-two h1, .alt-bg.alt-two h2, .alt-bg.alt-two h3, .alt-bg.alt-two h3, .alt-bg.alt-two h4, .alt-bg.alt-two h5, .alt-bg.alt-two h6, .alt-two .carousel-wrap > a {color: #222222;}
.alt-two.full-width-text:after {border-top-color:#f7f7f7;}
.alt-two h4.spb_text_heading, .alt-two h4.spb_heading {border-bottom-color:#222222;}
.alt-bg.alt-three {background-color: #FFFFFF;}
.alt-bg.alt-three {background-image: url(http://3zjs2lkfq9q28isiu2mcqya19ig.wpengine.netdna-cdn.com/wp-content/uploads/2013/06/escheresque.png); background-repeat: repeat; background-position: center top; background-size:auto;}
.alt-bg.alt-three, .alt-bg.alt-three h1, .alt-bg.alt-three h2, .alt-bg.alt-three h3, .alt-bg.alt-three h3, .alt-bg.alt-three h4, .alt-bg.alt-three h5, .alt-bg.alt-three h6, .alt-three .carousel-wrap > a {color: #222222;}
.alt-three.full-width-text:after {border-top-color:#FFFFFF;}
.alt-three h4.spb_text_heading, .alt-three h4.spb_heading {border-bottom-color:#222222;}
.alt-bg.alt-four {background-color: #252525;}
.alt-bg.alt-four, .alt-bg.alt-four h1, .alt-bg.alt-four h2, .alt-bg.alt-four h3, .alt-bg.alt-four h3, .alt-bg.alt-four h4, .alt-bg.alt-four h5, .alt-bg.alt-four h6, .alt-four .carousel-wrap > a {color: #ffffff;}
.alt-four.full-width-text:after {border-top-color:#252525;}
.alt-four h4.spb_text_heading, .alt-four h4.spb_heading {border-bottom-color:#ffffff;}
.alt-bg.alt-five {background-color: #FFFFFF;}
.alt-bg.alt-five {background-image: url(http://3zjs2lkfq9q28isiu2mcqya19ig.wpengine.netdna-cdn.com/wp-content/uploads/2013/06/ff_header_bkg_dark.png); background-repeat: repeat; background-position: center top; background-size:auto;}
.alt-bg.alt-five, .alt-bg.alt-five h1, .alt-bg.alt-five h2, .alt-bg.alt-five h3, .alt-bg.alt-five h3, .alt-bg.alt-five h4, .alt-bg.alt-five h5, .alt-bg.alt-five h6, .alt-five .carousel-wrap > a {color: #ffffff;}
.alt-five.full-width-text:after {border-top-color:#FFFFFF;}
.alt-five h4.spb_text_heading, .alt-five h4.spb_heading {border-bottom-color:#ffffff;}
.alt-bg.alt-six {background-color: #FFFFFF;}
.alt-bg.alt-six {background-image: url(http://3zjs2lkfq9q28isiu2mcqya19ig.wpengine.netdna-cdn.com/wp-content/uploads/2013/06/sazzi_full-width_bkg_dark.jpg); background-repeat: no-repeat; background-position: center center; background-size:cover;}
.alt-bg.alt-six, .alt-bg.alt-six h1, .alt-bg.alt-six h2, .alt-bg.alt-six h3, .alt-bg.alt-six h3, .alt-bg.alt-six h4, .alt-bg.alt-six h5, .alt-bg.alt-six h6, .alt-six .carousel-wrap > a {color: #ffffff;}
.alt-six.full-width-text:after {border-top-color:#FFFFFF;}
.alt-six h4.spb_text_heading, .alt-six h4.spb_heading {border-bottom-color:#ffffff;}
.alt-bg.alt-seven {background-color: #FFFFFF;}
.alt-bg.alt-seven, .alt-bg.alt-seven h1, .alt-bg.alt-seven h2, .alt-bg.alt-seven h3, .alt-bg.alt-seven h3, .alt-bg.alt-seven h4, .alt-bg.alt-seven h5, .alt-bg.alt-seven h6, .alt-seven .carousel-wrap > a {color: #222222;}
.alt-seven.full-width-text:after {border-top-color:#FFFFFF;}
.alt-seven h4.spb_text_heading, .alt-seven h4.spb_heading {border-bottom-color:#222222;}
.alt-bg.alt-eight {background-color: #FFFFFF;}
.alt-bg.alt-eight {background-image: url(http://3zjs2lkfq9q28isiu2mcqya19ig.wpengine.netdna-cdn.com/wp-content/uploads/2013/06/tiny_grid.png); background-repeat: repeat; background-position: center top; background-size:auto;}
.alt-bg.alt-eight, .alt-bg.alt-eight h1, .alt-bg.alt-eight h2, .alt-bg.alt-eight h3, .alt-bg.alt-eight h3, .alt-bg.alt-eight h4, .alt-bg.alt-eight h5, .alt-bg.alt-eight h6, .alt-eight .carousel-wrap > a {color: #222222;}
.alt-eight.full-width-text:after {border-top-color:#FFFFFF;}
.alt-eight h4.spb_text_heading, .alt-eight h4.spb_heading {border-bottom-color:#222222;}
.alt-bg.alt-nine {background-color: #FFFFFF;}
.alt-bg.alt-nine {background-image: url(http://3zjs2lkfq9q28isiu2mcqya19ig.wpengine.netdna-cdn.com/wp-content/uploads/2013/06/nhood_impact_bkg.png); background-repeat: repeat; background-position: center top; background-size:auto;}
.alt-bg.alt-nine, .alt-bg.alt-nine h1, .alt-bg.alt-nine h2, .alt-bg.alt-nine h3, .alt-bg.alt-nine h3, .alt-bg.alt-nine h4, .alt-bg.alt-nine h5, .alt-bg.alt-nine h6, .alt-nine .carousel-wrap > a {color: #222222;}
.alt-nine.full-width-text:after {border-top-color:#FFFFFF;}
.alt-nine h4.spb_text_heading, .alt-nine h4.spb_heading {border-bottom-color:#222222;}
.alt-bg.alt-ten {background-color: #FFFFFF;}
.alt-bg.alt-ten {background-image: url(http://3zjs2lkfq9q28isiu2mcqya19ig.wpengine.netdna-cdn.com/wp-content/uploads/2013/06/groovepaper.png); background-repeat: repeat; background-position: center top; background-size:auto;}
.alt-bg.alt-ten, .alt-bg.alt-ten h1, .alt-bg.alt-ten h2, .alt-bg.alt-ten h3, .alt-bg.alt-ten h3, .alt-bg.alt-ten h4, .alt-bg.alt-ten h5, .alt-bg.alt-ten h6, .alt-ten .carousel-wrap > a {color: #222222;}
.alt-ten.full-width-text:after {border-top-color:#FFFFFF;}
.alt-ten h4.spb_text_heading, .alt-ten h4.spb_heading {border-bottom-color:#222222;}

/*========== Custom Font Styles ==========*/
body, h6, #sidebar .widget-heading h3, #header-search input, .header-items h3.phone-number, .related-wrap h4, #comments-list > h4, .item-heading h1, .sf-button, button, input[type="submit"], input[type="reset"], input[type="button"], input[type="email"], .spb_accordion_section h3, #header-login input, #mobile-navigation > div, .search-form input, input, button, select, textarea { font-family:"Din Text Pro Regular", Verdana, sans-serif; font-size-adjust:0.5; font-weight:normal; font-style:normal; }h1, h2, h3, h4, h5, .heading-font, .custom-caption p, span.dropcap1, span.dropcap2, span.dropcap3, span.dropcap4, .spb_call_text, .impact-text, .testimonial-text, .header-advert, .spb_call_text, .impact-text { font-family:"Din Text Pro Regular", Verdana, sans-serif; font-size-adjust:0.5; font-weight:normal; font-style:normal; }nav .menu li { font-family:"Din Text Pro Regular", Verdana, sans-serif; font-size-adjust:0.5; font-weight:normal; font-style:normal; }
/*========== Responsive Coloured Styles ==========*/
@media only screen and (max-width: 767px) {#top-bar nav .menu > li {border-top-color: #444444;}
nav .menu > li {border-top-color: #e4e4e4;}
}

/*========== User Custom CSS Styles ==========*/
nav .menu li.menu-item-6477 ul li.current-menu-item > a {
background: transparent;
color: #666666;
}
.woocommerce .coupon input.input-text {
-moz-box-sizing: border-box;
}
figure .overlay {
z-index: 3;
}
#product-display-area {
	clear: both;
}
.widget_product_categories ul.children {
	padding-left: 10px;
	border-top: 1px solid #e4e4e4;
	padding-top: 2px;
}