<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wepinit.wepinit_shop.xmall.admin.dao.basic.DeliveryMapper">
	
	<select id="getDeliveryList" resultType="com.wepinit.wepinit_shop.xmall.common.vo.GdListDelivery">
		SELECT deliveryno, deliverycomp, deliveryurl, useyn 
		FROM gd_list_delivery
		ORDER BY deliverycomp
	</select>
	
	<select id="deliverynoCheck" resultType="com.wepinit.wepinit_shop.xmall.common.vo.GdListDelivery">
		SELECT *
		FROM gd_list_delivery
		WHERE deliveryno = ${deliveryno}
	</select>
	
	<select id="getDeliveryPolicyList" resultType="com.wepinit.wepinit_shop.xmall.common.vo.GdDeliveryPolicy">
		SELECT no, r_delivery as rDelivery, r_free as rFree, r_deliType as rDeliType, r_default as rDefault, r_defalt_msg as rDefaultMsg 
		FROM gd_delivery_policy 
		ORDER BY no asc
	</select>
	<select id="getPopupDeliveryList" resultType="com.wepinit.wepinit_shop.xmall.common.vo.GdListDelivery">
		select * from gd_list_delivery where deliveryno = #{no}
	</select>
	
	<update id="setDeliveryListUseyn">
		UPDATE gd_list_delivery 
			SET useyn = #{useyn} 
		WHERE deliveryno = #{deliveryno}
	</update>
	
	<!--2017-08-23 : deliverno 의 값이 있을 때에만 where 구가 들어가고 있었기 때문에 deliveryno 값이 
		넘어오지 않으면 모든 데이터가 변경되어 버리는 문제 가 발생하여 where 문을 감싸고 있던 조건문 삭제. -->
	<update id="setDeliveryListCompAndUrl">
		update gd_list_delivery 
		set deliveryno = #{deliveryno},
			deliverycomp = #{deliverycomp}, 
			deliveryurl = #{deliveryurl} 
		where deliveryno = #{deliveryno1}
	</update>
	
	<!-- 2017-08-23 : 택배사 등록을 위하여 추가 -->
	<insert id="insertDeliveryListCompAndUrl">
		INSERT INTO gd_list_delivery
			(deliveryno, deliverycomp, deliveryurl)
		VALUES
			(#{deliveryno}, #{deliverycomp}, #{deliveryurl})
	</insert>
	
	<!-- 2017-08-23 : 택배사 삭제를 위하여 추가 -->
	<delete id="deleteCourier">
		DELETE FROM gd_list_delivery
		WHERE deliveryno = #{deliveryno}
	</delete>
	
	<delete id = "initDeliveryPolicy">
		DELETE FROM gd_delivery_policy 
	</delete>
	
	<insert id= "insertDeliveryPolicy">
	INSERT INTO gd_delivery_policy
		(no, r_delivery, r_free, r_deliType, r_default, r_defalt_msg) 
		VALUES 
		(#{no}, #{rDelivery}, #{rFree}, #{rDeliType}, #{rDefault}, #{rDefaultMsg})
	</insert>
	

</mapper>