<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wepinit.wepinit_shop.xmall.admin.dao.promotion.BannerMapper">
	
	<sql id="getBannerIncludeWhere">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="schSkin != null and schSkin !=''">
				AND skin = #{schSkin}
			</if>
			<if test="schLoccd != null and schLoccd !=''">
				AND loccd = #{schLoccd}
			</if>
			<if test="schWord != null and schWord !=''">
				AND title LIKE CONCAT('%', #{schWord}, '%')
			</if>
			<if test="schUsed != null and schUsed !=''">
				AND used = #{schUsed}
			</if>
		</trim>
	</sql>
	
	<!-- 배너목록 select -->
	<select id="getBannerList" resultType="com.wepinit.wepinit_shop.xmall.common.vo.GdBanner">
		SELECT * FROM gd_banner
		<include refid="getBannerIncludeWhere" /> 
		<choose>
			<when test="schSort == 'sortDESC'">
				ORDER BY sort DESC
			</when>
			<when test="schSort == 'sortASC'">
				ORDER BY sort ASC
			</when>
			<when test="schSort == 'regdtASC'">
				ORDER BY regdt ASC
			</when>
			<otherwise>
				ORDER BY regdt DESC
			</otherwise>
		</choose>
		LIMIT #{rowStart}, #{pageSize}
	</select>
	
	<!-- 배너 카운트 -->
	<select id="getBannerCount" resultType="int">
		SELECT COUNT(sno) FROM gd_banner
		<include refid="getBannerIncludeWhere" />
	</select>
	
	<!-- 배너등록 -->
	<insert id="insertBanner">
		INSERT INTO gd_banner (
			skin
		  , loccd
		  , title
		  , linkaddr
		  , target
		  , copy1
		  , copy2
		  , sort
		  , used
			 , regid
		  , regdt
		) VALUES (
			#{skin}
		  , #{loccd}
		  , #{title}
		  , #{linkaddr}
		  , #{target}
		  , #{copy1}
		  , #{copy2}
		  , #{sort}
		  , #{used}
		  , #{regid}
		  , SYSDATE()
		)
		<selectKey resultType="int" keyProperty="sno" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>	
	
	<!-- 배너 detail select -->
	<select id="getBannerView" resultType="com.wepinit.wepinit_shop.xmall.common.vo.GdBanner">
		SELECT * FROM gd_banner WHERE sno = #{sno}
	</select>
	
	<!-- 배너 수정 -->
	<update id="updateBanner">
		UPDATE gd_banner 
		   SET skin = #{skin}
		     , loccd = #{loccd}
		     , title = #{title}
		     , linkaddr = #{linkaddr}
		     , target = #{target}
		     , copy1 = #{copy1}
		     , copy2 = #{copy2}
		     , sort = #{sort}
		     , used = #{used}  
		     , modid = #{modid}
		     , moddt = NOW()
		 WHERE sno = #{sno}
	</update>
	
	<!-- 배너 이미지수정 -->
	<update id="updateBannerByImage">
		UPDATE gd_banner 
		   SET img = #{img}
		     , imgMobile = #{imgMobile}
		 WHERE sno = #{sno}
	</update>
	
	<!-- 배너 삭제 -->
	<delete id="deleteBanner">
		DELETE FROM gd_banner WHERE sno = #{sno}
	</delete>

</mapper>

