<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wepinit.wepinit_shop.xmall.admin.dao.board.GoodsReviewMapper">

	<!-- 상품평관리 총 건수 -->
	<select id="getGoodsReviewTotalCount" resultType="int">
		SELECT count(*) 
		  FROM gd_goods_review a
		  LEFT JOIN (
				SELECT sno 
					 , COUNT(*) fileCnt
			 	  FROM gd_goods_review_file 
			 	 GROUP BY sno
			)e ON a.sno = e.sno
		WHERE 1=1
		<if test='btype =="P"'>
			AND IFNULL(e.fileCnt,0) > 0
		</if>
		<if test='btype =="B"'>
			AND IFNULL(e.fileCnt,0) = 0
		</if>
	</select>
	
	<!-- 상품평관리 상품명으로 상품번호 반환 -->
	<select id="getGoodsReviewGoodsNo" resultType="string">
		SELECT goodsno from gd_goods
		WHERE CONCAT(goodsnm, goodsnmKR, goodsnmCN) like concat('%',#{sword},'%')
	</select>
	
	<!-- 상품평관리 원글(부모글) 반환 -->
	<select id="getGoodsReviewGoodsParent" resultType="string">
		SELECT DISTINCT parent
		FROM gd_goods_review a
			LEFT JOIN gd_member b ON a.m_no=b.m_no
		<if test="subtable != '' ">
			${subtable}
		</if>
			left outer join gd_goods d on a.goodsno = d.goodsno
			left outer join gd_seller e on d.sellerCd = e.sellerCd
			LEFT JOIN (
				SELECT sno 
					 , COUNT(*) fileCnt
			 	  FROM gd_goods_review_file 
			 	 GROUP BY sno
			)e ON a.sno = e.sno
		WHERE 1=1
		<if test="schcate != '' ">
			AND ${schcate}
		</if>
		<if test="vo.sregdt_0 != '' and vo.sregdt_0 != null and vo.sregdt_1 != '' and vo.sregdt_1 != null">
			AND a.regdt between date_format(#{vo.sregdt_0},'%Y-%m-%d 00:00:00') and date_format(#{vo.sregdt_1},'%Y-%m-%d 23:59:59')
		</if>
		 <if test="vo.skey != null and vo.skey != '' and vo.sword != null and vo.sword != '' and vo.skey =='all' ">
			AND ( concat(contents, ifnull(b.m_id, ''), ifnull(a.name, '') ) like concat('%',#{vo.sword},'%') or ${vo.schword})
		</if>
		<if test="vo.skey != null and vo.skey != '' and vo.sword != null and vo.sword != '' and vo.skey =='goodnm' ">
			AND ${vo.schword}
		</if>
		<if test="vo.skey != null and vo.skey != '' and vo.sword != null and vo.sword != '' and vo.skey =='mid' ">
			AND concat( ifnull(b.m_id, ''), ifnull(a.name, '') ) like concat('%',#{vo.sword},'%')
		</if>
		<if test="vo.skey != null and vo.skey != '' and vo.sword != null and vo.sword != '' and vo.skey =='contents' ">
			AND ${vo.skey} like concat('%',#{vo.sword},'%')
		</if>
		<if test='null != schSellerNm and "" != schSellerNm'>
			and e.sellerNm like concat('%', #{schSellerNm}, '%')
		</if>
		<if test="vo.schSkin != null and vo.schSkin != '' ">
			AND a.skin=#{vo.schSkin}
		</if>
		<if test='vo.btype =="P"'>
			AND IFNULL(e.fileCnt,0) > 0
		</if>
		<if test='vo.btype =="B"'>
			AND IFNULL(e.fileCnt,0) = 0
		</if>
	</select>
	
	<!-- 상품평관리 검색 건수 -->
 	<select id="getGoodsReviewSearchCount" resultType="int">
		SELECT count(*) FROM gd_goods_review
		WHERE 1=1
		<if test="schparent != null and schparent != '' ">
			AND ${schparent}
		</if>
	</select>
		
	<!-- 상품평관리 리스트 반환 -->
 	<select id="getGoodsReviewSearchList" resultType="com.wepinit.wepinit_shop.xmall.common.vo.join.MemberGoodsrevwGoods">
 		SELECT DISTINCT 
 			a.sno, a.parent, a.goodsno, a.subject, a.contents
 			, a.point, a.regdt, a.name, b.m_no, a.emoney
 			, b.m_id, b.phone, b.mobile, b.name AS mname, c.goodsnm, c.goodsnmKR, c.goodsnmCN
 			, d.sellerNm
			,( SELECT c.img_s FROM gd_goods c WHERE a.goodsno = c.goodsno) AS imgs
			,(SELECT count(*) FROM gd_goods_review d 
				LEFT OUTER JOIN gd_goods AS e ON d.goodsno = e.goodsno
				WHERE a.sno != a.parent AND parent=a.parent) AS replcnt
			, a.skin
			, ifnull(e.fileCnt,0) fileCnt
		FROM gd_goods_review a
			LEFT JOIN gd_member b ON a.m_no=b.m_no
			left outer join gd_goods c on a.goodsno = c.goodsno
			left outer join gd_seller d on c.sellerCd = d.sellerCd
			LEFT JOIN (
				SELECT sno 
					 , COUNT(*) fileCnt
			 	  FROM gd_goods_review_file 
			 	 GROUP BY sno
			)e ON a.sno = e.sno
		WHERE 1=1
		<if test="vo.schword != '' and vo.schword != null and vo.schword != 0">
			AND ${vo.schword}
		</if>
		<if test="vo.sregdt_0 != '' and vo.sregdt_0 != null and vo.sregdt_1 != '' and vo.sregdt_1 != null">
			AND a.regdt between date_format(#{vo.sregdt_0},'%Y-%m-%d 00:00:00') and date_format(#{vo.sregdt_1},'%Y-%m-%d 23:59:59')
		</if>	
		<if test="schparent != null and schparent != '' ">
			AND ${schparent}
		</if>
		<if test="vo.schSkin != null and vo.schSkin != '' ">
			AND a.skin=#{vo.schSkin}
		</if>
		<if test='vo.btype =="P"'>
			AND IFNULL(e.fileCnt,0) > 0
		</if>
		<if test='vo.btype =="B"'>
			AND IFNULL(e.fileCnt,0) = 0
		</if>
		ORDER BY a.regdt DESC
		LIMIT #{vo.rowStart}, #{vo.pageSize}
	</select>
	
	<!-- 상품평관리 글 조회 -->
	<select id="getGoodsReviewInfo" resultType="com.wepinit.wepinit_shop.xmall.common.vo.GdGoodsReview">
		SELECT *, 
			IF(sno=parent AND m_no > 0, 'Y','N') AS apply, 
			IF(sno=parent AND m_no > 0 AND emoney=0, 'Y','N') AS apply2
		FROM gd_goods_review 
		WHERE sno=#{sno}
		LIMIT 1
	</select>
	
	<!-- 상품평관리 상품정보 조회 -->
	<select id="getGoodsReviewGoodsInfo" resultType="map">
		SELECT b.goodsnm,b.goodsnmKR,b.goodsnmCN,b.img_s,c.price
		FROM gd_goods AS b
		LEFT JOIN gd_goods_option AS c ON b.goodsno=c.goodsno AND c.parent = 0
		WHERE b.goodsno = #{goodsno}
	</select>
	
	<!-- 상품평관리 권한 -->
	<select id="getGoodsReviewAuthMember" resultType="com.wepinit.wepinit_shop.xmall.common.vo.GdMember">
		SELECT m_no,m_id,name
		FROM gd_member
		WHERE m_id !='godomall' AND k_level=100
		ORDER BY m_id
	</select>
	
	<!-- 상품평관리 회원정보 조회 -->
	<select id="getGoodsReviewMemberInfo" resultType="com.wepinit.wepinit_shop.xmall.common.vo.GdMember">
		SELECT m_id,name,mobile
		FROM gd_member 
		WHERE m_no=#{mno}
	</select>
	
	<!-- 상품평관리 회원 후기 단건 삭제 -->
	<delete id="deleteGoodsReview">
		DELETE FROM gd_goods_review
		WHERE sno= #{sno}
	</delete>
	
	<!-- 상품평관리 회원 후기 수정 -->
	<update id="updateGoodsReview">
		UPDATE gd_goods_review 
		SET subject = #{subject}, contents = #{contents}
		WHERE sno = #{sno}
	</update>
	
	<!-- 상품평관리 답글 등록 -->
	<insert id="insertGoodsReviewReply">
		INSERT INTO gd_goods_review(goodsno, parent, subject, contents, m_no, regdt, ip) 
		VALUES (#{goodsno}, #{sno}, #{subject}, #{contents}, #{mno}, SYSDATE(), #{ip})
	</insert>

</mapper>